@import '../variables';

body {
  display: flex;
  flex-direction: row;

  font-family: $font-family-base;
  font-size: $font-size-base;

  color: $light-color;
  background-color: $dark-color;

  overflow: auto;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  //should be able to cut down on these
  .website-container {
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .body-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .button {
    background-color: $primary-color;
    color: $light-color;

    padding: $spacing-unit;
    border-radius: $border-radius;
  }

    .logo {
        position: fixed;
        z-index: 1;

        top: 0;
        left: 0;
        padding: 10px;
    }

    .content {
    position: relative;

    height: 100vh;
    min-width: 70vw;

    border-radius: var(--border-rad);
    box-shadow: var(--shadow);

    background-color: var(--primary-color);
    @media (min-width: 768px) {
        margin-top: 10vh;
      }
  }
    

  .highlight-text {
    font-size: 3.0vh;
    color: $primary-color;
  }

  @media (max-width: 768px) {
 
    .highlight-text {
      font-size: 3.7vh;
      stroke: $primary-color;
    }
  }
  @media (min-width: 1200px) {
    .highlight-text {
      font-size: 2vh;
    }
    }
