@import '../variables';

.home-content  {
    top: 0;
    left: 0vw;
    max-width: 70vw;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;

    font-family: 'Inria Sans';
    font-style: normal;

    font-weight: 400;
    font-size: 24px;

    color: #FBEBDF;

    @media (max-width: 768px) {
      top: 30vh;
      min-width: 100vw;
    }
  }
  .home-content h1 {
    font-size: 4.9vw;
  }
  .home-content h3 {
    font-size: 1.95vw;
  }
  .highlight-text {
    font-size: 3.0vh;
    color: $primary-color;
  }

  .home-content-container {
    display: flex;
    flex-direction: column;

    margin-top: 5%;
    max-width: 80%;
    min-width: 80%;
    min-height: 80%;
  }

  .location-linkedin-bar {
    display: flex;
    flex-direction: row;
    min-width: 40vw;
    max-width: 60vw;
    min-height: 10vh;

    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;

    font-family: 'Inria Sans';
    font-style: normal;

    text-align: center;
  }

  .location-text {
    min-width: 15vw;
    left: 0;
    text-align: left;
  }


  .small-icon {
    cursor: pointer;
    background-size: cover;

    margin-right: 10px;
    height: 30%;
  }
  
  .small-icon:hover {
    height: 33%;

    transition: 0.2s;
    filter: drop-shadow(0px 8px 15px rgba(206, 206, 206, 0.25));
  }
  .location-icon {
    margin-right: 10px;
    min-height: 110%;
  }
