@import '../variables';

.content-content  {
    position: relative;
    top: 100;
    left: 0vw;
    // min-width: 30vw;
    max-width: 70vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FBEBDF
  }
  .highlight-text {
    font-size: 35px;
    color: $primary-color;
  }

  .h1 {
    font-size: 35px;
    color: $primary-color;
  }


  .contact-content-container {
    margin-top: 12.5%;
    display: flex;
    flex-direction: column;
    // background-color: blue;
    max-width: 80%;
    min-width: 80%;
    min-height: 80%;
  }
  /* Berlin */

// position: absolute;
// width: 75px;
// height: 24px;
// left: 107px;
// top: 217px;

// font-family: 'Inria Sans';
// font-style: normal;
// font-weight: 700;
// font-size: 20.1361px;
// line-height: 113%;
// /* or 23px */
// text-align: center;
// letter-spacing: 0.1em;

// color: #FBEBDF;



  .location-linkedin-bar {
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    font-size: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    max-width: 60vw;
    min-width: 40vw;

    // line-height: 113%;
    /* or 23px */
    text-align: center;
    letter-spacing: 0.1em;

    // max-height: 20vh;
  }

  .location-text {
    min-width: 15vw;
    left: 0;
    text-align: left;
  }


  .small-icon {
    cursor: pointer;
    margin-right: 10px;
    height: 30%;
    background-size: cover;
    // min-height: 100%;
  }
  .small-icon:hover {
    height: 33%;
    transition: 0.2s;
    filter: drop-shadow(0px 8px 15px rgba(206, 206, 206, 0.25));
  }
  .location-icon {
    margin-right: 10px;
    min-height: 110%;
    // min-width: none;
    // min-height: 20
    // 0%;
  }
  /* Hi, I'm Caolan Gilroy, a software developer based in Berlin. Passionate about web development, I specialize in MEAN and MERN stack technologies and thrive on delivering innovative solutions. Let's create something amazing together! */

// position: absolute;
// width: 614px;
// height: 202px;
// left: 84px;
// top: 263px;

// font-family: 'Inria Sans';
// font-style: normal;
// font-weight: 400;
// font-size: 24px;
// line-height: 113%;
// /* or 27px */
// letter-spacing: 0.01em;

// color: rgba(255, 147, 48, 0.95);

