@import '../variables';

body {
  display: flex;
  flex-direction: row;

  font-family: $font-family-base;
  font-size: $font-size-base;

  color: $light-color;
  background-color: $dark-color;

  overflow: auto;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .body-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .button {
    background-color: $primary-color;
    color: $light-color;

    padding: $spacing-unit;
    border-radius: $border-radius;
  }

    .logo {
        position: fixed;
        z-index: 1;

        top: 0;
        left: 0;
        padding: 10px;
    }

    
