@import '../variables';


.banner {
  background-color: $primary-color;

  position: fixed;
  flex: 0 0 30vw;

  top: 0;
  right: 0vw;
  min-width: $banner-ratio;
  min-height: 100%;
  padding-top: 5vh;

  @media (max-width: 768px) {
    top: 0;
    min-width: 100%;
    min-height: 30%;
    max-height: 40%;
  }
  /* Styles for large desktops */
  @media (min-width: 1200px) {
    padding-top: 5vh;
  }
}

.contact-button {
    min-width: 50%;
    min-height: 6vh;
    border-radius: 32px;

    color: #0F172A;
    background: #FBEBDF;

    font-family: 'Radio Canada';
    font-style: normal;

    font-weight: 700;
    font-size: 30px;
    line-height: 1%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @media (max-width: 768px) {
        font-size: 25px;

        top: 0;
        min-width: 30%;
      }
}

.contact-button:hover{
    min-height: 6.4vh;
    min-width: 63%;
    
    transition: 0.2s;
    filter: drop-shadow(0px 8px 15px rgba(243, 243, 243, 0.25));
}

