@import '../variables';

.home-content  {
    top: 0;
    left: 0vw;
    max-width: 70vw;
    height: 90%;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;

    font-family: 'Inria Sans';
    font-style: normal;

    font-weight: 400;
    font-size: 24px;

    color: #FBEBDF;

    @media (max-width: 768px) {
      top: 30vh;
      min-width: 100vw;
    }
    /* Styles for large desktops */
    @media (min-width: 1200px) {
      padding-top: 8vh;
    }
  }
  .home-content h1 {
    font-weight: 700;

    font-size: 4.9vw;
  }
  .home-content h3 {
    font-size: 1.95vw;
  }

  @media (max-width: 768px) {
    .home-content h1 {
      font-size: 9.5vw;
      font-weight: 600;
    }
    .home-content h3 {
      font-size: 4.5vw;
      font-weight: 700;
    }
}


/* Styles for large desktops */
@media (min-width: 1200px) {
  .home-content h1 {
    font-size: 3.8vw;
  }
  .home-content h3 {
    font-size: 1.5vw;
  }
  
}

  .home-content-container {
    display: flex;
    flex-direction: column;

    margin-top: 0%;
    max-width: 80%;
    min-width: 80%;
    min-height: 80%;
  }

  .location-linkedin-bar {
    height:4%;
    display: flex;
    flex-direction: row;
    gap: 5%;

    min-width: 40vw;
    max-width: 60vw;
    margin-top: 0%;

    font-size: 100%;
    font-weight: 700;
    letter-spacing: 0.1em;

    font-family: 'Inria Sans';
    font-style: normal;

    text-align: center;

    @media (max-width: 768px) {
      margin-top: 0vh;
    }
  }

  .location-text {
    left: 0;
    text-align: left;
  }


  .subheading-icon {
    cursor: pointer;
    background-size: cover;

    min-height: 80%;
  }
  
  .subheading-icon:hover {
    height: 33%;

    transition: 0.2s;
    filter: drop-shadow(0px 8px 15px rgba(206, 206, 206, 0.25));
  }
  .location-icon {
    margin-right: 10px;
  }
