@import '../variables';

.highlight-text {
    font-size: 3.0vh;
    color: $primary-color;
  }

  @media (max-width: 768px) {
 
    .highlight-text {
      font-size: 3.7vh;
      stroke: $primary-color;
    }
  }
  @media (min-width: 1200px) {
    .highlight-text {
      font-size: 2vh;
    }
    }